<div class="form-group row">
  <label class="col-sm-2 col-form-label">Filter By</label>

  <div class="col-sm-10">
    <input [(ngModel)]="filter" class="form-control" />
  </div>
</div>

<table class="table table-striped" >
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Gendle</th>
      <th>Email</th>
      <th>Age</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of filtedUsers">
      <td>
        <img class="rounded" [src]="user.picture.thumbnail">
      </td>
      <td>{{ user.name.first }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.dob.age }}</td>

      <!-- <td>
        <a [routerLink]="['/course/info', course.id]" class="btn btn-outline-primary">Edit</a>
      </td>
      <td>
        <button (click)="deleteById(course.id)" class="btn btn-danger fa fa-trash" ></button>
      </td> -->
    </tr>
  </tbody>

</table>
