<div class="form-group row">
  <label class="col-sm-2 col-form-label">Filter By</label>

  <div class="col-sm-10">
    <input [(ngModel)]="filter" class="form-control" />
  </div>

</div>

<table class="table table-striped" >
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Code</th>
      <th>Duration</th>
      <th>Release Date</th>
      <th>Ration</th>
      <th>Options</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of filtedCourses">
      <td><img [src]='course.imageUrl' width="40px" heigth="40px" /></td>
      <td>{{ course.name }}</td>
      <td>{{ course.price }}</td>
      <td>{{ course.code | replace: '-': ' ' }}</td>
      <td>{{ course.duration }}</td>
      <td>{{ course.releaseDate | lowercase  }}</td>
      <td>
        <app-star [rating]="course.rating" ></app-star>
      </td>
      <td>
        <a [routerLink]="['/course/info', course.id]" class="btn btn-outline-primary">Edit</a>
      </td>
      <td>
        <button (click)="deleteById(course.id)" class="btn btn-danger fa fa-trash" ></button>
      </td>
    </tr>
  </tbody>

</table>
